.container {
	.burger {
		position: fixed;
		padding: 8px;
		top: 5px;
		right: 5px;
		z-index: 999;
		cursor: pointer;
		div,
		&::after,
		&::before {
			content: '';
			display: block;
			width: 30px;
			height: 3px;
			margin: 5px 0;
			background-color: #212529;
			transition: transform 0.3s;
		}
	}
	.burger_active {
		div {
			transform: rotate(-45deg);
		}
		&::after {
			transform: translateY(-8px) rotate(45deg);
		}
		&::before {
			transform: translateY(8px) rotate(45deg);
		}
	}
	.menu {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 998;
		background-color: #edf2f4;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		.profile {
			margin: 0 auto;
			max-width: 120px;
			img {
				border-radius: 50%;
			}
		}
		li {
			text-align: center;
			padding: 1rem 0;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;
			&:hover {
				background-color: #e9ecef;
			}
		}
	}
}
