.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	.image {
		width: 250px;
		height: 160px;
		position: relative;
	}
	.info {
		padding: 15px;
		p:first-child {
			font-family: 'Open Sans', sans-serif;
			font-weight: 800;
			font-size: 1.5rem;
			color: #ef233c;
		}
	}

	@media only screen and (min-width: 640px) {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 0 32px;
		.image {
			flex-shrink: 0;
			width: 280px;
			height: 160px;
		}
	}
	@media only screen and (min-width: 768px) {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 0 32px;
		.image {
			flex-shrink: 0;
			width: 320px;
			height: 200px;
		}
	}
}
