.container {
	min-height: 100vh;
	position: relative;
	.back {
		top: 0;
		position: absolute;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 4rem;
		color: #dee2e6;
		z-index: -1;
		@media only screen and (min-width: 768px) {
			left: 0;
			font-size: 8rem;
		}
	}
	.projects {
		padding-top: 60px;
	}
}
